.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.backround-img {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    /* position: fixed; */
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.text-center {
    text-align: center;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;

}

.dark-2 {
    color: #474747;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 500px;
}

.hi-iam {
    font-size: 45px;
    font-weight: 600px;
}

.title {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-description {
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
}

.banner-pic {
    width: 700px;

}

/* Main styles */
main {
    max-width: 1140px;
    margin: 0px auto;

}

main section {
    margin-top: 130px;
}

/* About style */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-desceription {
    font-weight: 600;
}

/* Skill section */
.skill-contener {
    display: flex;
}

.skill {
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* summary Resume style */
.section-title {
    font-size: 35px;
    font-weight: bold;

}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-clomn-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.expreince-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.expriance-sub-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.exprience-description,
.expriance-sub-title {
    color: #757575;
}

.btn-download-cv {
    margin-top: 50px;
}

/* footer styles */

footer {
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

.footer-column {
    width: 50%;

}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    margin: 24px;
    border: none;
}

.hide {
    display: none;
}

@media screen and (max-width:576px) {
    .skill-contener {
        flex-direction: column;

    }

    .resume-container {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        padding: 10px 20px;
    }

    .footer-column {
        width: 100%;
    }

    .footer input[type="text"],
    footer input[type="email"],
    footer textarea {
        width: calc(100% - 40%);
    }

    .about-items {
        flex-direction: column;
        padding-left: 10px;
    }



}